In [1]:
#### To start we will import all of our needed libraries and dive into our datasets.
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

import pandas as pd
import numpy as np
from fuzzywuzzy import fuzz
from fuzzywuzzy import process
from sklearn.impute import KNNImputer

from py_files.feature_engineering import filter_column_strings, knn_impute, cat_label_pct

In [2]:
df = pd.read_csv('data/post_eda_data.csv')
df.drop(['Unnamed: 0', 'index'], axis=1, inplace=True)

/tmp/ipykernel_123433/1910989435.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/post_eda_data.csv')

In [3]:
df.head()

,index,id,status_group,amount_tsh,funder,gps_height,installer,longitude,latitude,num_private,...,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,pop_height
0,0,69572,functional,6000.0,Roman,1390.0,Roman,34.938093,-9.856322,0,...,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,NaN
1,1,8776,functional,NaN,Grumeti,1399.0,GRUMETI,34.698766,-2.147466,0,...,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,NaN
2,2,34310,functional,25.0,Lottery Club,686.0,World vision,37.460664,-3.821329,0,...,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,NaN
3,3,67743,non functional,NaN,Unicef,263.0,UNICEF,38.486161,-11.155298,0,...,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,NaN
4,4,19728,functional,NaN,Action In A,NaN,Artisan,31.130847,-1.825359,0,...,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,NaN

## To Do:

#### String Clean up
   
#### Construction year to age
#### KNNImpute
    - population
    - gps_height
    - amount_tsh¶
    
#### Bin population

#### Mask features based on value count

In [4]:
# String Clean up 

columns_ = [
    'funder',
    'installer',
    'scheme_name',
    'subvillage',
    'ward',
    'basin',
    'region',
    'lga',
    'ward',
    'scheme_management',
    'scheme_name',
    'extraction_type',
    'extraction_type_group',
    'extraction_type_class',
    'management',
    'management_group',
    'payment',
    'payment_type',
    'water_quality',
    'quality_group',
    'quantity',
    'quantity_group',
    'source',
    'source_type',
    'source_class',
    'waterpoint_type',
    'waterpoint_type_group'
]

for col_ in columns_:
    df[col_] = df[col_].str.replace(' ', '') \
        .str.lower() \
        .str.replace('(','') \
        .str.replace(')', '') \
        .str.replace('/', '') \
        .str.replace('_', '')
    
    filter_column_strings(90, df, col_, fuzz.token_sort_ratio, drop=True)

WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '-']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '-']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '-']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '-']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '-']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '-']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '-']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '##']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '##']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '##']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '##']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '##']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '##']
WARNING:root:Applied processor reduces input query to empty string, all comparisons will have score 0. [Query: '##']

#### Construction Year to Age

In [5]:

df['construction_year'] = 2022 - df['construction_year']
df = df.rename(columns={'construction_year': 'well_age'})

#### Mask low value count features

In [16]:
for col in df.drop('status_group', axis=1).select_dtypes('object').columns.tolist():
    print(col)
    print(df[col].value_counts())
    print()

funder
governmentoftanzania    11299
unknown                  4509
dagida                   3909
hasawa                   2788
nrwssp                   1718
                        ...
hasneinmuijmbunge           1
mamaku                      1
stp-sustainabletan          1
teamrafiki                  1
velem                       1
Name: funder, Length: 1943, dtype: int64

installer
dwe              21787
unknown           4537
governme          2373
hasawa            1770
rwe               1498
                 ...
deusndege            1
billyphillips        1
kapelo               1
pnrda                1
majijacharles        1
Name: installer, Length: 1878, dtype: int64

basin
lakevictoria           12871
pangani                11143
rufiji                  9987
internal                9642
laketanganyika          8052
wamiruvu                7577
lakenyasa               6332
ruvumasoutherncoast     5587
lakerukwa               3059
Name: basin, dtype: int64

subvillage
shule          730
majeng         727
maduka         693
unknown        470
kati           467
              ...
tewera           1
bukini           1
mpilu            1
mkumemuembe      1
kosoro           1
Name: subvillage, Length: 17099, dtype: int64

region
iringa         6599
shinyanga      6293
mbeya          5758
kilimanjaro    5494
morogoro       5038
kagera         4174
arusha         4111
mwanza         3897
kigoma         3533
pwani          3331
ruvuma         3306
tanga          3186
dodoma         2779
singida        2536
tabora         2466
mara           2451
rukwa          2242
mtwara         2144
manyara        1972
lindi          1920
daressalaam    1020
Name: region, dtype: int64

lga
njombe         3128
moshirural     1566
arusharural    1521
bariadi        1485
rungwe         1381
               ...
songeaurban     103
kigomaurban      95
arushaurban      82
lindiurban       24
nyamagana         2
Name: lga, Length: 125, dtype: int64

ward
imalinyi         407
igosi            386
sihakati         297
mdandu           292
nduruma          261
                ...
sungwisi           1
linda              1
ukata              1
uwanjawandege      1
mwalugulu          1
Name: ward, Length: 2023, dtype: int64

public_meeting
True       63749
False       6346
Unknown     4155
Name: public_meeting, dtype: int64

scheme_management
vwc                45917
wug                 6496
unknown             4846
waterauthority      3975
wua                 3551
waterboard          3462
parastatal          2124
company             1341
privateoperator     1326
other                996
swc                  123
trust                 92
none                   1
Name: scheme_management, dtype: int64

scheme_name
unknown                            35258
k                                    861
none                                 828
borehole                             711
chalinzewate                         502
                                   ...
blkpuchinisisters                      1
longido                                1
sui                                    1
floodwatersustainabilityproject        1
blvetenary                             1
Name: scheme_name, Length: 2284, dtype: int64

permit
True       48606
False      21851
Unknown     3793
Name: permit, dtype: int64

extraction_type
gravity                   33263
niratanira                10205
other                      8102
submersible                5982
swn80                      4588
mono                       3628
indiamarkii                3164
afridev                    2208
ksb                        1790
other-ropepump              572
other-swn81                 284
windmill                    152
cemo                        108
other-playpump              101
walimi                       60
climax                       41
other-mkulimashinyanga        2
Name: extraction_type, dtype: int64

extraction_type_group
gravity           33263
niratanira        10205
other              8102
submersible        7772
swn80              4588
mono               3628
indiamarkii        3164
afridev            2208
ropepump            572
otherhandpump       447
wind-powered        152
othermotorpump      149
Name: extraction_type_group, dtype: int64

extraction_type_class
gravity         33263
handpump        20612
other            8102
submersible      7772
motorpump        3777
ropepump          572
wind-powered      152
Name: extraction_type_class, dtype: int64

management
vwc                50624
wug                 8108
waterboard          3688
wua                 3118
privateoperator     2504
parastatal          2229
waterauthority      1123
other               1083
company              859
unknown              683
other-school         126
trust                105
Name: management, dtype: int64

management_group
user-group    65538
commercial     4591
parastatal     2229
other          1209
unknown         683
Name: management_group, dtype: int64

payment
neverpay              31712
payperbucket          11266
paymonthly            10397
unknown               10149
paywhenschemefails     4842
payannually            4570
other                  1314
Name: payment, dtype: int64

payment_type
neverpay     31712
perbucket    11266
monthly      10397
unknown      10149
onfailure     4842
annually      4570
other         1314
Name: payment_type, dtype: int64

water_quality
soft                 63505
salty                 6082
unknown               2345
milky                 1005
coloured               623
saltyabandoned         423
fluoride               244
fluorideabandoned       23
Name: water_quality, dtype: int64

quality_group
good        63505
salty        6505
unknown      2345
milky        1005
colored       623
fluoride      267
Name: quality_group, dtype: int64

quantity
enough          41522
insufficient    18896
dry              7782
seasonal         5075
unknown           975
Name: quantity, dtype: int64

quantity_group
enough          41522
insufficient    18896
dry              7782
seasonal         5075
unknown           975
Name: quantity_group, dtype: int64

source
spring                 21216
shallowwell            21140
machinedbh             13822
river                  11964
rainwaterharvesting     2863
handdtw                 1108
lake                     950
dam                      840
other                    261
unknown                   86
Name: source, dtype: int64

source_type
spring                 21216
shallowwell            21140
borehole               14930
riverlake              12914
rainwaterharvesting     2863
dam                      840
other                    347
Name: source_type, dtype: int64

source_class
groundwater    57286
surface        16617
unknown          347
Name: source_class, dtype: int64

waterpoint_type
communalstandpipe            35628
handpump                     21884
other                         8010
communalstandpipemultiple     7611
improvedspring                 959
cattletrough                   150
dam                              8
Name: waterpoint_type, dtype: int64

waterpoint_type_group
communalstandpipe    43239
handpump             21884
other                 8010
improvedspring         959
cattletrough           150
dam                      8
Name: waterpoint_type_group, dtype: int64

In [20]:
scheme_mgmt_idx = np.array(np.where(df['scheme_management'] == 'none')).tolist()[0]

df.loc[scheme_mgmt_idx, 'scheme_management'] = 'other'

In [21]:
masked_cols = ['funder', 'installer', 'subvillage', 'ward', 'scheme_name']

for col in masked_cols:
    mask_ = df[col].map(df[col].value_counts()) == 1
    df[col] = df[col].mask(mask_, 'other')

In [22]:
df.to_csv('data/cleaned_data.csv')

In [42]:
df = pd.read_csv('data/cleaned_data.csv')

/tmp/ipykernel_123433/3976309765.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/cleaned_data.csv')

In [43]:
test_df = df[~df.status_group.notna()].copy()
test_df.drop('status_group', axis=1, inplace=True)
df = df[df.status_group.notna()].copy()

In [44]:
df.drop('pop_height', axis=1, inplace=True)
pop_idx = np.array(np.where((df['population'] <= 0) | (df['population'] == 1))).tolist()[0]
df.loc[pop_idx, ['population']] = np.nan

#### KNN Imputation

In [45]:
knn_impute(df, test_df, 'population', [0,1], 66)
knn_impute(df, test_df, 'gps_height', 0, 66)
knn_impute(df, test_df, 'amount_tsh', 0, 5)

(       Unnamed: 0  index     id    status_group   amount_tsh          funder  \
 0               0      0  69572      functional  6000.000000           roman
 1               1      1   8776      functional   537.928686         grumeti
 2               2      2  34310      functional    25.000000     lotteryclub
 3               3      3  67743  non functional   785.979453           unice
 4               4      4  19728      functional   787.013381           other
 ...           ...    ...    ...             ...          ...             ...
 59395       59395  59395  60739      functional    10.000000  germanyrepubli
 59396       59396  59396  27263      functional  4700.000000     cefa-njombe
 59397       59397  59397  37057      functional  1200.000000         unknown
 59398       59398  59398  31282      functional    31.783604           malec
 59399       59399  59399  26348      functional    20.000000       worldbank

         gps_height    installer  longitude   latitude  ...  payment_type  \
 0      1390.000000        roman  34.938093  -9.856322  ...      annually
 1      1399.000000     grumenti  34.698766  -2.147466  ...      neverpay
 2       686.000000  worddivisio  37.460664  -3.821329  ...     perbucket
 3       263.000000        uncef  38.486161 -11.155298  ...      neverpay
 4      1379.218302       arisan  31.130847  -1.825359  ...      neverpay
 ...            ...          ...        ...        ...  ...           ...
 59395  1210.000000          ces  37.169807  -3.253847  ...     perbucket
 59396  1212.000000         cefa  35.249991  -9.070629  ...      annually
 59397  1515.493874      unknown  34.017087  -8.750434  ...       monthly
 59398   831.921765         musa  35.861315  -6.378573  ...      neverpay
 59399   191.000000        world  38.104048  -6.747464  ...     onfailure

       water_quality quality_group      quantity  quantity_group  \
 0              soft          good        enough          enough
 1              soft          good  insufficient    insufficient
 2              soft          good        enough          enough
 3              soft          good           dry             dry
 4              soft          good      seasonal        seasonal
 ...             ...           ...           ...             ...
 59395          soft          good        enough          enough
 59396          soft          good        enough          enough
 59397      fluoride      fluoride        enough          enough
 59398          soft          good  insufficient    insufficient
 59399         salty         salty        enough          enough

                     source          source_type source_class  \
 0                   spring               spring  groundwater
 1      rainwaterharvesting  rainwaterharvesting      surface
 2                      dam                  dam      surface
 3               machinedbh             borehole  groundwater
 4      rainwaterharvesting  rainwaterharvesting      surface
 ...                    ...                  ...          ...
 59395               spring               spring  groundwater
 59396                river            riverlake      surface
 59397           machinedbh             borehole  groundwater
 59398          shallowwell          shallowwell  groundwater
 59399          shallowwell          shallowwell  groundwater

                  waterpoint_type waterpoint_type_group
 0              communalstandpipe     communalstandpipe
 1              communalstandpipe     communalstandpipe
 2      communalstandpipemultiple     communalstandpipe
 3      communalstandpipemultiple     communalstandpipe
 4              communalstandpipe     communalstandpipe
 ...                          ...                   ...
 59395          communalstandpipe     communalstandpipe
 59396          communalstandpipe     communalstandpipe
 59397                   handpump              handpump
 59398                   handpump              handpump
 59399                   handpump              handpump

 [59400 rows x 40 columns],
        Unnamed: 0  index     id  amount_tsh                funder  gps_height  \
 59400       59400      0  50785         NaN                  dmdd         NaN
 59401       59401      1  51630         NaN  governmentoftanzania         NaN
 59402       59402      2  17168         NaN               unknown         NaN
 59403       59403      3  45559         NaN             finnwater         NaN
 59404       59404      4  49871         NaN                bruder         NaN
 ...           ...    ...    ...         ...                   ...         ...
 74245       74245  14845  39307         NaN                dagida         NaN
 74246       74246  14846  18990         NaN                  hiap         NaN
 74247       74247  14847  28749         NaN               unknown         NaN
 74248       74248  14848  33492         NaN               germany         NaN
 74249       74249  14849  68707         NaN  governmentoftanzania         NaN

        installer  longitude   latitude  num_private  ... water_quality  \
 59400       dmdd  35.290799  -4.059696            0  ...          soft
 59401        dwe  36.656709  -3.309214            0  ...          soft
 59402    unknown  34.767863  -5.004344            0  ...          soft
 59403  finnwater  38.058046  -9.418672            0  ...          soft
 59404     bruder  35.006123 -10.950412            0  ...          soft
 ...          ...        ...        ...          ...  ...           ...
 74245         da  38.852669  -6.582841            0  ...          soft
 74246       hiap  37.451633  -5.350428            0  ...         salty
 74247    unknown  34.739804  -4.585587            0  ...          soft
 74248        dwe  35.432732 -10.584159            0  ...          soft
 74249   governme  34.765054 -11.226012            0  ...          soft

       quality_group      quantity  quantity_group               source  \
 59400          good      seasonal        seasonal  rainwaterharvesting
 59401          good  insufficient    insufficient               spring
 59402          good  insufficient    insufficient  rainwaterharvesting
 59403          good           dry             dry          shallowwell
 59404          good        enough          enough               spring
 ...             ...           ...             ...                  ...
 74245          good        enough          enough                river
 74246         salty  insufficient    insufficient          shallowwell
 74247          good  insufficient    insufficient                  dam
 74248          good  insufficient    insufficient                river
 74249          good           dry             dry               spring

                source_type source_class    waterpoint_type  \
 59400  rainwaterharvesting      surface              other
 59401               spring  groundwater  communalstandpipe
 59402  rainwaterharvesting      surface              other
 59403          shallowwell  groundwater              other
 59404               spring  groundwater  communalstandpipe
 ...                    ...          ...                ...
 74245            riverlake      surface  communalstandpipe
 74246          shallowwell  groundwater           handpump
 74247                  dam      surface  communalstandpipe
 74248            riverlake      surface  communalstandpipe
 74249               spring  groundwater  communalstandpipe

       waterpoint_type_group pop_height
 59400                 other        NaN
 59401     communalstandpipe        NaN
 59402                 other        NaN
 59403                 other        NaN
 59404     communalstandpipe        NaN
 ...                     ...        ...
 74245     communalstandpipe        NaN
 74246              handpump        NaN
 74247     communalstandpipe        NaN
 74248     communalstandpipe        NaN
 74249     communalstandpipe        NaN

 [14850 rows x 40 columns])

In [7]:
# test_df.to_csv('data/test_set_imputed.txt')
# df.to_csv('data/df_imputed.txt')

df = pd.read_csv('data/df_imputed.txt', index_col=[0])
test_df = pd.read_csv('data/test_set_imputed.txt', index_col=[0])

#### Feature engineer percentage based on functionality

In [8]:
df[['region_code', 'district_code']] = df[['region_code', 'district_code']].astype('object')

In [9]:
columns = df.drop('status_group', axis=1).select_dtypes('object').columns.tolist()
for col_ in columns:
    if col_ != 'status_group':
        df, test_df = cat_label_pct(df, test_df, col_)
        df.drop(col_, axis=1, inplace=True)
        test_df.drop(col_, axis=1, inplace=True)

In [10]:
test_df.fillna(0.0, inplace=True)
df.fillna(0.0, inplace=True)

In [13]:
# Verifying ID's are identical in the test dataset and nan values
og_test_df = pd.read_csv('data/Test_set.csv')
pd.DataFrame(og_test_df['id'] == test_df['id'])['id'].value_counts()

True    14850
Name: id, dtype: int64

In [14]:
test_df.to_csv('data/ml_testing.txt')
df.to_csv('data/ml_training.txt')