In [1]:
import pandas as pd
pd.set_option('display.max_columns', 999)

In [3]:
df_training_labels = pd.read_csv('Training_set_labels.csv')
df_training_labels['id_2'] = df_training_labels['id']
df_training_labels.drop('id', axis = 1, inplace = True)
df_training_labels['status_group'].value_counts()

functional                 32259
non functional             22824
functional needs repair     4317
Name: status_group, dtype: int64

In [4]:
df_training_values = pd.read_csv('Training_set_values.csv')
df_training_values.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,scheme_name,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,VWC,Roman,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,Nyamara,Mara,20,2,Serengeti,Natta,280,NaN,GeoData Consultants Ltd,Other,NaN,True,2010,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,VWC,Nyumba ya mungu pipe scheme,True,2009,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,VWC,NaN,True,1986,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,NaN,NaN,True,0,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe

In [5]:
df_training_labels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   status_group  59400 non-null  object
 1   id_2          59400 non-null  int64
dtypes: int64(1), object(1)
memory usage: 928.2+ KB

In [6]:
df_training_values.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59400 entries, 0 to 59399
Data columns (total 40 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     59400 non-null  int64
 1   amount_tsh             59400 non-null  float64
 2   date_recorded          59400 non-null  object
 3   funder                 55765 non-null  object
 4   gps_height             59400 non-null  int64
 5   installer              55745 non-null  object
 6   longitude              59400 non-null  float64
 7   latitude               59400 non-null  float64
 8   wpt_name               59400 non-null  object
 9   num_private            59400 non-null  int64
 10  basin                  59400 non-null  object
 11  subvillage             59029 non-null  object
 12  region                 59400 non-null  object
 13  region_code            59400 non-null  int64
 14  district_code          59400 non-null  int64
 15  lga                    59400 non-null  object
 16  ward                   59400 non-null  object
 17  population             59400 non-null  int64
 18  public_meeting         56066 non-null  object
 19  recorded_by            59400 non-null  object
 20  scheme_management      55523 non-null  object
 21  scheme_name            31234 non-null  object
 22  permit                 56344 non-null  object
 23  construction_year      59400 non-null  int64
 24  extraction_type        59400 non-null  object
 25  extraction_type_group  59400 non-null  object
 26  extraction_type_class  59400 non-null  object
 27  management             59400 non-null  object
 28  management_group       59400 non-null  object
 29  payment                59400 non-null  object
 30  payment_type           59400 non-null  object
 31  water_quality          59400 non-null  object
 32  quality_group          59400 non-null  object
 33  quantity               59400 non-null  object
 34  quantity_group         59400 non-null  object
 35  source                 59400 non-null  object
 36  source_type            59400 non-null  object
 37  source_class           59400 non-null  object
 38  waterpoint_type        59400 non-null  object
 39  waterpoint_type_group  59400 non-null  object
dtypes: float64(3), int64(7), object(30)
memory usage: 18.1+ MB

In [7]:
df_training_values.isna().sum()

id                           0
amount_tsh                   0
date_recorded                0
funder                    3635
gps_height                   0
installer                 3655
longitude                    0
latitude                     0
wpt_name                     0
num_private                  0
basin                        0
subvillage                 371
region                       0
region_code                  0
district_code                0
lga                          0
ward                         0
population                   0
public_meeting            3334
recorded_by                  0
scheme_management         3877
scheme_name              28166
permit                    3056
construction_year            0
extraction_type              0
extraction_type_group        0
extraction_type_class        0
management                   0
management_group             0
payment                      0
payment_type                 0
water_quality                0
quality_group                0
quantity                     0
quantity_group               0
source                       0
source_type                  0
source_class                 0
waterpoint_type              0
waterpoint_type_group        0
dtype: int64

In [8]:
df = pd.concat([df_training_values, df_training_labels], join = 'inner', axis = 1)

In [9]:
df.drop('scheme_name', axis = 1, inplace = True)

In [10]:
df.isna().sum()

id                          0
amount_tsh                  0
date_recorded               0
funder                   3635
gps_height                  0
installer                3655
longitude                   0
latitude                    0
wpt_name                    0
num_private                 0
basin                       0
subvillage                371
region                      0
region_code                 0
district_code               0
lga                         0
ward                        0
population                  0
public_meeting           3334
recorded_by                 0
scheme_management        3877
permit                   3056
construction_year           0
extraction_type             0
extraction_type_group       0
extraction_type_class       0
management                  0
management_group            0
payment                     0
payment_type                0
water_quality               0
quality_group               0
quantity                    0
quantity_group              0
source                      0
source_type                 0
source_class                0
waterpoint_type             0
waterpoint_type_group       0
status_group                0
id_2                        0
dtype: int64

In [11]:
from sklearn.impute import SimpleImputer

In [12]:
df = df.fillna(df['funder'].value_counts().index[0])

In [13]:
df = df.fillna(df['installer'].value_counts().index[0])

In [14]:
df = df.fillna(df['subvillage'].value_counts().index[0])

In [15]:
df = df.fillna(df['public_meeting'].value_counts().index[0])

In [16]:
df = df.fillna(df['scheme_management'].value_counts().index[0])

In [17]:
df = df.fillna(df['permit'].value_counts().index[0])

In [18]:
mask = df.applymap(type) != bool
d = {True: 'True', False: 'False'}

df = df.where(mask, df.replace(d))

In [23]:
df.isna().sum()

id                       0
amount_tsh               0
date_recorded            0
funder                   0
gps_height               0
installer                0
longitude                0
latitude                 0
wpt_name                 0
num_private              0
basin                    0
subvillage               0
region                   0
region_code              0
district_code            0
lga                      0
ward                     0
population               0
public_meeting           0
recorded_by              0
scheme_management        0
permit                   0
construction_year        0
extraction_type          0
extraction_type_group    0
extraction_type_class    0
management               0
management_group         0
payment                  0
payment_type             0
water_quality            0
quality_group            0
quantity                 0
quantity_group           0
source                   0
source_type              0
source_class             0
waterpoint_type          0
waterpoint_type_group    0
status_group             0
id_2                     0
dtype: int64

In [80]:
categorical_features = ['construction_year',
 'region_code',
 'district_code',                          
 'funder',
 'installer',
 'wpt_name',
 'basin',
 'subvillage',
 'region',
 'lga',
 'ward',
 'public_meeting',
 'recorded_by',
 'scheme_management',
 'permit',
 'extraction_type',
 'extraction_type_group',
 'extraction_type_class',
 'management',
 'management_group',
 'payment',
 'payment_type',
 'water_quality',
 'quality_group',
 'quantity',
 'quantity_group',
 'source',
 'source_type',
 'source_class',
 'waterpoint_type',
 'waterpoint_type_group']


categorical_transformer = OneHotEncoder(handle_unknown = 'ignore')

df_cat_xfmr = pd.DataFrame(categorical_transformer.fit_transform\
                           (df[categorical_features]),\
                           columns = categorical_transformer.get_feature_names(df[categorical_features].columns),\
                           index = df[categorical_features].index)

df_cat_xfmr

ValueError: Shape of passed values is (59400, 1), indices imply (59400, 63226)

In [ ]:
# pf = PolynomialFeatures(degree=2)

# X = df_no_cats

# pf.fit(X)
# pdf = pd.DataFrame(pf.transform(X), columns=pf.get_feature_names(X.columns))
# pdf
# corr_df = pdf.corr()
# corr_df[corr_df['x0'] > .75]['x0']

In [24]:
df = df[df['id'] == df['id_2']]

In [25]:
df.drop(['id_2'], axis = 1, inplace = True)
df.head()

,id,amount_tsh,date_recorded,funder,gps_height,installer,longitude,latitude,wpt_name,num_private,basin,subvillage,region,region_code,district_code,lga,ward,population,public_meeting,recorded_by,scheme_management,permit,construction_year,extraction_type,extraction_type_group,extraction_type_class,management,management_group,payment,payment_type,water_quality,quality_group,quantity,quantity_group,source,source_type,source_class,waterpoint_type,waterpoint_type_group,status_group
0,69572,6000.0,2011-03-14,Roman,1390,Roman,34.938093,-9.856322,none,0,Lake Nyasa,Mnyusi B,Iringa,11,5,Ludewa,Mundindi,109,True,GeoData Consultants Ltd,VWC,False,1999,gravity,gravity,gravity,vwc,user-group,pay annually,annually,soft,good,enough,enough,spring,spring,groundwater,communal standpipe,communal standpipe,functional
1,8776,0.0,2013-03-06,Grumeti,1399,GRUMETI,34.698766,-2.147466,Zahanati,0,Lake Victoria,Nyamara,Mara,20,2,Serengeti,Natta,280,Government Of Tanzania,GeoData Consultants Ltd,Other,True,2010,gravity,gravity,gravity,wug,user-group,never pay,never pay,soft,good,insufficient,insufficient,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional
2,34310,25.0,2013-02-25,Lottery Club,686,World vision,37.460664,-3.821329,Kwa Mahundi,0,Pangani,Majengo,Manyara,21,4,Simanjiro,Ngorika,250,True,GeoData Consultants Ltd,VWC,True,2009,gravity,gravity,gravity,vwc,user-group,pay per bucket,per bucket,soft,good,enough,enough,dam,dam,surface,communal standpipe multiple,communal standpipe,functional
3,67743,0.0,2013-01-28,Unicef,263,UNICEF,38.486161,-11.155298,Zahanati Ya Nanyumbu,0,Ruvuma / Southern Coast,Mahakamani,Mtwara,90,63,Nanyumbu,Nanyumbu,58,True,GeoData Consultants Ltd,VWC,True,1986,submersible,submersible,submersible,vwc,user-group,never pay,never pay,soft,good,dry,dry,machine dbh,borehole,groundwater,communal standpipe multiple,communal standpipe,non functional
4,19728,0.0,2011-07-13,Action In A,0,Artisan,31.130847,-1.825359,Shuleni,0,Lake Victoria,Kyanyamisa,Kagera,18,1,Karagwe,Nyakasimbi,0,True,GeoData Consultants Ltd,Government Of Tanzania,True,0,gravity,gravity,gravity,other,other,never pay,never pay,soft,good,seasonal,seasonal,rainwater harvesting,rainwater harvesting,surface,communal standpipe,communal standpipe,functional

In [26]:
df['date_recorded'] = pd.to_datetime(df['date_recorded'])

In [27]:
test = df.select_dtypes(['int64', 'float64'])

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

X = df.select_dtypes(['int64', 'float64'])
y = df['status_group']

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 42)

dtc = DecisionTreeClassifier()
dtc.fit(X_train, y_train)

DecisionTreeClassifier()

In [30]:
X_train.head()

,id,amount_tsh,gps_height,longitude,latitude,num_private,region_code,district_code,population,construction_year
24947,33935,20.0,330,38.123839,-6.087137e+00,0,6,1,80,1972
22630,49654,0.0,0,0.000000,-2.000000e-08,0,17,1,0,0
13789,39287,0.0,0,33.312321,-2.814100e+00,0,19,4,0,0
15697,60510,0.0,1542,34.783049,-4.842093e+00,0,13,4,23,2010
22613,24259,0.0,523,34.660944,-1.070733e+01,0,10,3,1,2013

In [31]:
dtc.score(X_train, y_train)

1.0

In [32]:
dtc.feature_importances_

array([0.17720297, 0.05344721, 0.09264871, 0.25796306, 0.24172098,
       0.00138253, 0.01122934, 0.01863161, 0.07644357, 0.06933002])

In [33]:
dtc.n_features_

10

In [34]:
dtc.tree_

In [35]:
dtc.classes_

array(['functional', 'functional needs repair', 'non functional'],
      dtype=object)

In [36]:
dtc.score(X_test, y_test)

0.6508417508417509

In [37]:
from sklearn.preprocessing import OneHotEncoder

In [38]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression

In [39]:
df.select_dtypes(['int64', 'float64']).columns.to_list()

['id',
 'amount_tsh',
 'gps_height',
 'longitude',
 'latitude',
 'num_private',
 'region_code',
 'district_code',
 'population',
 'construction_year']

In [40]:
X = df.drop('status_group', axis = 1)
y = df['status_group']

In [48]:
numeric_features = [
 'amount_tsh',
 'gps_height',
 'num_private',
 'population']

numeric_transformer = Pipeline([('scaler', StandardScaler())])

categorical_features = ['construction_year',
 'region_code',
 'district_code',                          
 'funder',
 'installer',
 'wpt_name',
 'basin',
 'subvillage',
 'region',
 'lga',
 'ward',
 'public_meeting',
 'recorded_by',
 'scheme_management',
 'permit',
 'extraction_type',
 'extraction_type_group',
 'extraction_type_class',
 'management',
 'management_group',
 'payment',
 'payment_type',
 'water_quality',
 'quality_group',
 'quantity',
 'quantity_group',
 'source',
 'source_type',
 'source_class',
 'waterpoint_type',
 'waterpoint_type_group']


categorical_transformer = OneHotEncoder(handle_unknown = 'ignore')

preprocessor = ColumnTransformer([('num', numeric_transformer, numeric_features),
                               ('cat', categorical_transformer, categorical_features)])

clf = Pipeline([('preprocessor', preprocessor), 
               ('classifier', LogisticRegression(max_iter = 10000))])

X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 42)

clf.fit(X_train, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('scaler',
                                                                   StandardScaler())]),
                                                  ['amount_tsh', 'gps_height',
                                                   'num_private',
                                                   'population']),
                                                 ('cat',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['construction_year',
                                                   'region_code',
                                                   'district_code', 'funder',
                                                   'installer', 'wpt_name',
                                                   'basin', 'subvillage',
                                                   'region', 'lga', 'ward',
                                                   'publ...eeting',
                                                   'recorded_by',
                                                   'scheme_management',
                                                   'permit', 'extraction_type',
                                                   'extraction_type_group',
                                                   'extraction_type_class',
                                                   'management',
                                                   'management_group',
                                                   'payment', 'payment_type',
                                                   'water_quality',
                                                   'quality_group', 'quantity',
                                                   'quantity_group', 'source',
                                                   'source_type',
                                                   'source_class',
                                                   'waterpoint_type', ...])])),
                ('classifier', LogisticRegression(max_iter=10000))])

In [49]:
clf.score(X_train, y_test)

0.7855218855218855

In [50]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.model_selection import cross_validate

clfs = []
clfs.append(DecisionTreeClassifier())
clfs.append(RandomForestClassifier(n_jobs = 8))
clfs.append(GradientBoostingClassifier())

for classifier in clfs:
    pipeline.set_params(clf = classifier)
    scores = cross_validate(pipeline, X_train, y_train)
    print('---------------------------------')
    print(str(classifier))
    print('-----------------------------------')
    for key, values in scores.items():
            print(key,' mean ', values.mean())
            print(key,' std ', values.std())

---------------------------------
DecisionTreeClassifier()
-----------------------------------
fit_time  mean  10.578952550888062
fit_time  std  0.5003051626866749
score_time  mean  0.08073530197143555
score_time  std  0.0054197160257286135
test_score  mean  0.7736475869809203
test_score  std  0.0041507563913669
---------------------------------
RandomForestClassifier(n_jobs=8)
-----------------------------------
fit_time  mean  23.851759052276613
fit_time  std  1.1386377735137039
score_time  mean  0.1483543872833252
score_time  std  0.0014879150277958579
test_score  mean  0.8053647586980921
test_score  std  0.0027191085720274753
---------------------------------
GradientBoostingClassifier()
-----------------------------------
fit_time  mean  23.511231184005737
fit_time  std  0.5485406388709368
score_time  mean  0.1008676528930664
score_time  std  0.0027505602751609535
test_score  mean  0.75665544332211
test_score  std  0.004430819506054931